/*NavLink CSS*/
.link {
  color: #300707;
  font-weight: bold;
}
.link:hover{
  color:#D64541;
}

.active-link, .active-link:hover{
  color: #D64541; /* Keeps the color when active */
  font-weight: bold;
}

a {
  font-weight: 500;
  color: #E67E22;
  text-decoration: inherit;
}
a:hover {
  color: #D64541;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #5D4037;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: #F9E79F;
  color:black;
}
button:focus,
button:focus-visible {
  outline: 2px solid rgb(10, 1, 78);
  background-color: #F9E79F;
  color:black;
  font-weight: 700;
}