
a {
  font-weight: 500;
  color: #E67E22;
  text-decoration: inherit;
}
a:hover {
  color: #D64541;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #5D4037;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: #F9E79F;
  color:black;
}
button:focus,
button:focus-visible {
  outline: 2px solid rgb(10, 1, 78);
  background-color: #F9E79F;
  color:black;
  font-weight: 700;
}

/*Font family from Google API*/
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

/*NavLink CSS*/
.link {
  color: #3A0519;
  font-weight: bold;
}
.link:hover{
  color:#EEEAD8;
}

.active-link, .active-link:hover{
  color: #EEEAD8;
  font-weight: bold;
}
